pkgbase = python-aioetherscan
	pkgdesc = Etherscan API async Python wrapper.
	pkgver = 0.9.5.1
	pkgrel = 1
	url = https://github.com/themartiancompany/aioetherscan
	arch = any
	license = MIT
	checkdepends = python-pytest>=8.2.2
	checkdepends = python-pytest-asyncio>=0.23.7
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python>=3.9
	depends = python-aiohttp>=3.4
	depends = python-asyncio-throttle>=1.0.1
	depends = python-aiohttp-retry>=2.8.3
	provides = aioetherscan=0.9.5.1
	conflicts = aioetherscan
	source = aioetherscan-9efbb8f550dedb92424cec7d213e3c556d33cf96::https://github.com/themartiancompany/aioetherscan/archive/9efbb8f550dedb92424cec7d213e3c556d33cf96.zip
	b2sums = ef04d8bebe7428fb8df36e9173268cc162a5b9311f53134369e0d80b7d21f9889fb2ef5844a9075065a46d60dcad9d98a32de8fc013c015de6af5c5f92196526

pkgname = python-aioetherscan
